.swal2-container {
    font-family: Arial, Helvetica, sans-serif;
    z-index: 99999999!important;
}

.swal2-title {
    font-size: 1.25em;
}

.swal2-html-container {
    input {
        width: 100%!important;
        margin: 0!important;
    }
    input:first-child {
        margin-bottom: 15px!important
    }
}

.walletconnect-modal__base {
    max-width: 400px!important;
}
.walletconnect-modal__headerLogo {
    height: 21px!important;
    width: auto!important;
}

.chainium {
    margin-bottom: 10px!important;
}

.chainium.hidden, .chainium-process.hidden {
    display: none;
}

.chainium-center {
    display: flex;
    justify-content: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-list li {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
}

.product-list li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.product-list li a img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .product-list li {
        width: 50%;
    }
    
}

@media screen and (max-width: 400px) {
    .product-list li {
        width: 100%;
    }
    
}